{% load static %}




<div class="header-container">
    <div>
    <a href="{% url 'home' %}">
        <img src="{% static 'images/Flamingo Book Club Logo.png' %}" width="150" height="200" justify-self ='center'/>
    </a>
    <hr>
    </div>

    <div>  
    
    

        {% if user.is_authenticated %}

        <form method="GET" action="{% url 'user-profile' user.id %}">
            <input type="submit" value="Profile" />
        </form>

        <form method="GET" action="{% url 'logout' %}">
            <input type="submit" value="logout" />
        </form>

        <p><strong>Hello {{user.username}}</strong></p>

        {% else %}

        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    </div>

    <div>
        {% if page != databaseForm  %}
        <form method="GET" action="{% url 'database-form' %}">
            <input class="search-box" type="text" name="q" placeholder="Search..." />
            <input type="submit" value="Search" />
        </form>
        {% endif %}

        {% if user.is_authenticated and page == databaseForm %}
        <form action="{% url 'database-form' %}">
            <input type="submit" value="Database Form"/>
        </form>
        {% endif %}
        <hr>
    </div>

</div>