@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* navigation bar styles */
.header-container{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 250px;
    background-color: rgb(90, 146, 219);
    align-items: end;

}
.search-box{
    width: 300px;
}


.dataform{
    background-color: rgb(153, 27, 136);
}

.table-data{
    background-color: rgb(248, 215, 221);
    
}