@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body{
    font-family: 'DM Sans';
    margin: 0;
}

/* navigation bar styles */
.header-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(240, 132, 216);
    align-items: end;
    justify-items: auto;
    margin-bottom: 1rem;

}
.header-container img{
    max-width:40%;
    max-height:40%;
    align-self: center;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 1rem;
}
#banner{
    height: 100%;
    background-image: url("../images/header-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar-links nav{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    font-size: 1.25rem;
    font-weight: bold;
    font-kerning: auto;
    color: white;  
    text-align: center;
    align-content: center; 
    align-self: end;  
}
.navbar-links{
    position: absolute;
    display: inline;
    bottom: 0%;
    left: 0%
}
.navbar-links li{
    background-image: url("../images/navbar_small.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}
.navbar-links a{
    text-decoration: none;
}
.navbar-links a:visited{
    color: white;
}
.navbar-links a:hover{
    background-color: blue;
}
.navbar-links ul{
    list-style: none;
}
.navbar-links li{
    inherits: none;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.search-box{
    width: 300px;
}


.dataform{
    background-color: rgb(153, 27, 136);
}

.table-data{
    background-color: rgb(248, 215, 221);
    
}
#table-head{
    background-color: rgb(158, 45, 107) !important;
}
