@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body{
    font-family: 'DM Sans';
    margin: 0;
}

#custom-btn{
    font-weight: bold;
    color: white;
    background-color: rgb(11, 165, 11);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 15%;
    border-style:solid;
    border-color: rgb(1, 58, 1);
}
/* navigation bar styles */
#nav-color{
    background-color: rgb(240, 132, 216);
}



.banner{
    background-image: url("../images/header-image.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#navbar-links a:hover{
    background-color: blue;
}
.navbar-links ul{
    list-style: none;
}
.navbar-links li{
    inherits: none;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.search-box{
    width: 300px;
}


.database-container {
    display: flex;
    flex-wrap: wrap;

}
.dataform-container{
    background-color: rgb(240, 132, 216);
    flex: 1 1;
}

.table-data{
    background-color: rgb(248, 215, 221);
    flex: 1 1;
    
}
#table-head{
    background-color: rgb(214, 113, 169);
}






/* .header-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(240, 132, 216);
    align-items: end;
    justify-items: auto;
    margin-bottom: 1rem;

} */